<a href="https://colab.research.google.com/github/AzzahraFebia/Big-Data/blob/main/Hands_On_Pertemuan_3_2420506023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-On Pertemuan 3: Data Processing dengan Apache Spark

## Tujuan:
- Memahami dan mempraktikkan data processing menggunakan Apache Spark.
- Menggunakan Spark untuk operasi data yang efisien pada dataset besar.
- Menerapkan teknik canggih dalam Spark untuk mengatasi kasus penggunaan nyata.

### 1. Pengenalan Spark DataFrames
Spark DataFrame menyediakan struktur data yang optimal dengan operasi yang dioptimalkan untuk pemrosesan data besar, yang sangat mirip dengan DataFrame di Pandas atau di RDBMS.

- **Tugas 1**: Buat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia.

In [ ]:
# Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

In [1]:
# TUGAS 1
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
|       Wilio|        IT|  4500|
|        Sean| Marketing|  4200|
|      Alluna|        HR|  3900|
+------------+----------+------+

### 2. Transformasi Dasar dengan DataFrames
Pemrosesan data meliputi transformasi seperti filtering, selections, dan aggregations. Spark menyediakan cara efisien untuk melaksanakan operasi ini.

- **Tugas 2**: Gunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data, serta lakukan agregasi data untuk mendapatkan insight tentang dataset menggunakan perintah seperti mean, max, sum.

In [ ]:
# Contoh operasi transformasi DataFrame
select('EmployeeName', 'Salary').show()
filter(df['Salary'] > 3000).show()
groupBy('Department').avg('Salary').show()

In [5]:
# OPERASI FILTER
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.filter((df['Department'] == 'Sales') & (df['Salary'] > 3500)).show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

In [6]:
# OPERASI SELECT
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.select('EmployeeName', 'Salary').show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
|       Wilio|  4500|
|        Sean|  4200|
|      Alluna|  3900|
+------------+------+

In [7]:
# OPERASI GROUPBY
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.groupBy('Department').avg('Salary').show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|        HR|     3900.0|
|   Finance|     3000.0|
| Marketing|     4200.0|
|        IT|     4500.0|
+----------+-----------+

In [10]:
# AGREGASI
from pyspark.sql import SparkSession
from pyspark.sql import functions as FC

spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)

# Menggabungkan agregasi dalam satu tabel
df.groupBy('Department').agg(
    FC.sum('Salary').alias('Total_Gaji'),
    FC.max('Salary').alias('Max_Gaji'),
    FC.min('Salary').alias('Min_Gaji'),
    FC.mean('Salary').alias('Mean_GajI'),
    FC.count('Salary').alias('Count_Gaji')
).show()

+----------+----------+--------+--------+---------+----------+
|Department|Total_Gaji|Max_Gaji|Min_Gaji|Mean_GajI|Count_Gaji|
+----------+----------+--------+--------+---------+----------+
|     Sales|     11700|    4600|    3000|   3900.0|         3|
|        HR|      3900|    3900|    3900|   3900.0|         1|
|   Finance|      3000|    3000|    3000|   3000.0|         1|
| Marketing|      4200|    4200|    4200|   4200.0|         1|
|        IT|      4500|    4500|    4500|   4500.0|         1|
+----------+----------+--------+--------+---------+----------+

### 3. Bekerja dengan Tipe Data Kompleks
Spark mendukung tipe data yang kompleks seperti maps, arrays, dan structs yang memungkinkan operasi yang lebih kompleks pada dataset yang kompleks.

- **Tugas 3**: Eksplorasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.

In [ ]:
# Contoh manipulasi tipe data kompleks
df.withColumn('SalaryBonus', df['Salary'] * 0.1).show()
df.withColumn('TotalCompensation', df['Salary'] + df['SalaryBonus']).show()

In [11]:
# TUGAS 3
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)

# Menambahkan kolom SalaryBonus (0.1 / 10% dari Salary)
df = df.withColumn('SalaryBonus', df['Salary'] * 0.1)

# Menambahkan kolom TotalCompensation (Salary + SalaryBonus)
df = df.withColumn('TotalCompensation', df['Salary'] + df['SalaryBonus'])
df.show()

+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
|       Wilio|        IT|  4500|      450.0|           4950.0|
|        Sean| Marketing|  4200|      420.0|           4620.0|
|      Alluna|        HR|  3900|      390.0|           4290.0|
+------------+----------+------+-----------+-----------------+

### 4. Operasi Data Lanjutan
Menggunakan Spark untuk operasi lanjutan seperti window functions, user-defined functions (UDFs), dan mengoptimalkan query.

- **Tugas 4**: Implementasikan window function untuk menghitung running totals atau rangkings.

In [ ]:
# Contoh menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

In [15]:
# TUGAS 4
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql import functions as FC

spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Wilio', 'IT', 4500),
        ('Sean', 'Marketing', 4200),
        ('Alluna', 'HR', 3900)]

columns = ['EmployeeName', 'Department', 'Salary']
df = spark.createDataFrame(data, schema=columns)

# WindowSpec untuk membagi data sesuai departmen, dan mengurutkan sesuai salary
windowSpec = Window.partitionBy('Department').orderBy(FC.desc('Salary'))

# Menambahkan kolom ranking
df.withColumn('Rank', FC.rank().over(windowSpec)).show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|      Alluna|        HR|  3900|   1|
|       Wilio|        IT|  4500|   1|
|        Sean| Marketing|  4200|   1|
|     Michael|     Sales|  4600|   1|
|      Robert|     Sales|  4100|   2|
|       James|     Sales|  3000|   3|
+------------+----------+------+----+

### 5. Kesimpulan dan Eksplorasi Lebih Lanjut
Review apa yang telah dipelajari tentang pemrosesan data menggunakan Spark dan eksplorasi teknik lebih lanjut untuk mengoptimalkan pemrosesan data Anda.
<br>**Tugas 5**:
- Unduh dataset besar dari [Kaggle](https://www.kaggle.com/) atau sumber lainnya.
- Input data csv yang telah di download, kemudian load dan simpan data ke dalam pyspark.
- Setelah data berhasil di load menggunakan pyspark, lakukan manipulasi data untuk memperoleh informasi yang dibutuhkan

In [18]:
# TUGAS 5
from google.colab import files
uploaded = files.upload()

Saving amazon.csv to amazon.csv

MANIPULASI DATA

In [22]:
# Load Dataset
from pyspark.sql import SparkSession

# Inisialisasi Spark
spark = SparkSession.builder.appName("AmazonSalesAnalysis").getOrCreate()

# Load CSV
df = spark.read.csv("amazon.csv", header=True, inferSchema=True)

# Cek struktur data
df.printSchema()
df.show()

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- discounted_price: string (nullable = true)
 |-- actual_price: string (nullable = true)
 |-- discount_percentage: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- rating_count: string (nullable = true)
 |-- about_product: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- review_id: string (nullable = true)
 |-- review_title: string (nullable = true)
 |-- review_content: string (nullable = true)
 |-- img_link: string (nullable = true)
 |-- product_link: string (nullable = true)

+----------+--------------------+--------------------+----------------+------------+-------------------+------+------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|product_id|        product_name|            category|discounted_price|actual_price|discount_percentage|rating|rating_count|        about_product|             user_id|           user_name|           review_id|        review_title|      review_content|            img_link|        product_link|
+----------+--------------------+--------------------+----------------+------------+-------------------+------+------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|B07JW9H4J1|Wayona Nylon Brai...|Computers&Accesso...|            â‚¹399|      â‚¹1,099|                64%|   4.2|      24,269| High Compatibilit...|AG3D6O4STAQKAY2UV...|Manav,Adarsh gupt...|R3HXWT0LRP0NMF,R2...|Satisfied,Chargin...|Looks durable Cha...|https://m.media-a...|https://www.amazo...|
|B098NS6PVG|Ambrane Unbreakab...|Computers&Accesso...|            â‚¹199|        â‚¹349|                43%|   4.0|      43,994| Compatible with a...|AECPFYFQVRUWC3KGN...|ArdKn,Nirbhay kum...|RGIQEG07R9HS2,R1S...|A Good Braided Ca...|I ordered this ca...|https://m.media-a...|https://www.amazo...|
|B096MSW6CT|Sounce Fast Phone...|Computers&Accesso...|            â‚¹199|      â‚¹1,899|                90%|   3.9|       7,928|ã€ Fast Charger& D...|AGU3BBQ2V2DDAMOAK...|Kunal,Himanshu,vi...|R3J3EQQ9TZI5ZJ,R3...|Good speed for ea...|Not quite durable...|https://m.media-a...|https://www.amazo...|
|B08HDJ86NZ|boAt Deuce USB 30...|Computers&Accesso...|            â‚¹329|        â‚¹699|                53%|   4.2|      94,363| The boAt Deuce US...|AEWAZDZZJLQUYVOVG...|Omkar dhale,JD,HE...|R3EEUZKKK9J36I,R3...|Good product,Good...|Good product,long...|https://m.media-a...|https://www.amazo...|
|B08CF3B7N1|Portronics Konnec...|Computers&Accesso...|            â‚¹154|        â‚¹399|                61%|   4.2|      16,905| [CHARGE & SYNC FU...|AE3Q6KSUK5P75D5HF...|rahuls6099,Swasat...|R1BP4L2HH9TFUP,R1...|As good as origin...|Bought this inste...|https://m.media-a...|https://www.amazo...|
|B08Y1TFSP6|pTron Solero TB30...|Computers&Accesso...|            â‚¹149|      â‚¹1,000|                85%|   3.9|      24,871| Fast Charging & D...|AEQ2YMXSZWEOHK2EH...|Jayesh,Rajesh k.,...|R7S8ANNSDPR40,R3C...|It's pretty good,...|It's a good produ...|https://m.media-a...|https://www.amazo...|
|B08WRWPM22|boAt Micro USB 55...|Computers&Accesso...|         â‚¹176.63|        â‚¹499|                65%|   4.1|      15,188| It Ensures High S...|AG7C6DAADCTRQJG2B...|Vivek kumar,Amazo...|R8E73K2KWJRDS,RSD...|Long durable.,goo...|Build quality is ...|https://m.media-a...|https://www.amazo...|
|B08DDRGWTJ|MI Usb Type-C Cab...|Computers&Accesso...|            â‚¹229|        â‚¹299|                23%|   4.3|      30,411| 1m long Type-C US...|AHW6E5LQ2BDYOIVLA...|Pavan A H,Jayesh ...|R2X090D1YHACKR,R3...|Worth for money -...|Worth for money -...|https://m.media-a...|https://www.amazo...|
|B008IFXQFU|TP-Link USB WiFi ...|Computers&Accesso...|            â‚¹499|        â‚¹999|                50%|   4.2|    1,79,691| USB WiFi Adapter ...|AGV3IEFANZCKECFGU...|Azhar JuMan,Aniru...|R1LW6NWSVTVZ2H,R3...|Works on linux fo...|I use this to con...|https://m.media-a...|https://www.amazo...|
|B082LZGK39|Ambrane Unbreakab...|Computers&Accesso...|            â‚¹199|        â‚¹299|                33%|   4.0|      43,994| Universal Compati...|AECPFYFQVRUWC3KGN...|ArdKn,Nirbhay kum...|RGIQEG07R9HS2,R1S...|A Good Braided Ca...|I ordered this ca...|https://m.media-a...|https://www.amazo...|
|B08CF3D7QR|Portronics Konnec...|Computers&Accesso...|            â‚¹154|        â‚¹339|                55%|   4.3|      13,391| [CHARGE & SYNC FU...|AGYLPKPZHVYKKZHOT...|Tanya,Anu,Akshay,...|R11MQS7WD9C3I0,R2...|Good for fast cha...|The cable is effi...|https://m.media-a...|https://www.amazo...|
|B0789LZTCJ|boAt Rugged v3 Ex...|Computers&Accesso...|            â‚¹299|        â‚¹799|                63%|   4.2|      94,363| The boAt rugged c...|AEWAZDZZJLQUYVOVG...|Omkar dhale,JD,HE...|R3EEUZKKK9J36I,R3...|Good product,Good...|Good product,long...|https://m.media-a...|https://www.amazo...|
|B07KSMBL2H|AmazonBasics Flex...|Electronics|HomeT...|            â‚¹219|        â‚¹700|                69%|   4.4|    4,26,973| Flexible, lightwe...|AEYJ5I6JZZPOJB6MG...|Rishav Gossain,Sh...|R1FKOKZ3HHKJBZ,R2...|It's quite good a...|I am using it for...|https://m.media-a...|https://www.amazo...|
|B085DTN6R2|Portronics Konnec...|Computers&Accesso...|            â‚¹350|        â‚¹899|                61%|   4.2|       2,262| [20W PD FAST CHAR...|AGUAYQHARAKR2VZTR...|Priya,Mansi,Plaba...|R1QETDIPRCX4S0,RA...|Works,Nice Produc...|Definitely isnâ€™t ...|https://m.media-a...|https://www.amazo...|
|B09KLVMZ3B|Portronics Konnec...|Computers&Accesso...|            â‚¹159|        â‚¹399|                60%|   4.1|       4,768| [CHARGE & SYNC FU...|AF2XXVO7JUBUVAOBT...|Deepaak Singh,siv...|R20XIOU25HEX80,R2...|Great but,Worked ...|Loosing charging ...|https://m.media-a...|https://www.amazo...|
|B083342NKJ|MI Braided USB Ty...|Computers&Accesso...|            â‚¹349|        â‚¹399|                13%|   4.4|      18,757| 1M Long Cable. Us...|AGSGSRTEZBQY64WO2...|Birendra ku Dash,...|R2JPQNKCOE10UK,RQ...|Good product,usin...|I like it ðŸ‘ðŸ‘,Be...|https://m.media-a...|https://www.amazo...|
|B0B6F7LX4C|MI 80 cm (32 inch...|Electronics|HomeT...|         â‚¹13,999|     â‚¹24,999|                44%|   4.2|      32,840| Note : The brands...|AHEVOQADJSSRX7DS3...|Manoj maddheshiya...|R13UTIA6KOF6QV,R2...|It is the best tv...|Pros- xiomi 5a is...|https://m.media-a...|https://www.amazo...|
|B082LSVT4B|Ambrane Unbreakab...|Computers&Accesso...|            â‚¹249|        â‚¹399|                38%|   4.0|      43,994| Compatible with a...|AECPFYFQVRUWC3KGN...|ArdKn,Nirbhay kum...|RGIQEG07R9HS2,R1S...|A Good Braided Ca...|I ordered this ca...|https://m.media-a...|https://www.amazo...|
|B08WRBG3XW|boAt Type C A325 ...|Computers&Accesso...|            â‚¹199|        â‚¹499|                60%|   4.1|      13,045| Type C A 325 Cabl...|AFB5KJR4Q5FICAHBO...|Rohan Narkar,JAGW...|R2BP8Y5OJXKJLF,R2...|Good for charging...|Check for offera ...|https://m.media-a...|https://www.amazo...|
|B08DPLCM6T|LG 80 cm (32 inch...|Electronics|HomeT...|         â‚¹13,490|     â‚¹21,990|                39%|   4.3|      11,976| Resolution: HD Re...|AHBNKB74LGTYUOKPA...|NIRMAL.N,Manoj ku...|R2PNR69G0BQG2F,R3...|Sound quality,Ver...|LG was always Goo...|https://m.media-a...|https://www.amazo...|
+----------+--------------------+--------------------+----------------+------------+-------------------+------+------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [25]:
# SELECT KOLOM

df.select('product_name','category','discounted_price','rating').show()

+--------------------+--------------------+----------------+------+
|        product_name|            category|discounted_price|rating|
+--------------------+--------------------+----------------+------+
|Wayona Nylon Brai...|Computers&Accesso...|            â‚¹399|   4.2|
|Ambrane Unbreakab...|Computers&Accesso...|            â‚¹199|   4.0|
|Sounce Fast Phone...|Computers&Accesso...|            â‚¹199|   3.9|
|boAt Deuce USB 30...|Computers&Accesso...|            â‚¹329|   4.2|
|Portronics Konnec...|Computers&Accesso...|            â‚¹154|   4.2|
|pTron Solero TB30...|Computers&Accesso...|            â‚¹149|   3.9|
|boAt Micro USB 55...|Computers&Accesso...|         â‚¹176.63|   4.1|
|MI Usb Type-C Cab...|Computers&Accesso...|            â‚¹229|   4.3|
|TP-Link USB WiFi ...|Computers&Accesso...|            â‚¹499|   4.2|
|Ambrane Unbreakab...|Computers&Accesso...|            â‚¹199|   4.0|
|Portronics Konnec...|Computers&Accesso...|            â‚¹154|   4.3|
|boAt Rugged v3 Ex...|Computers&Accesso...|            â‚¹299|   4.2|
|AmazonBasics Flex...|Electronics|HomeT...|            â‚¹219|   4.4|
|Portronics Konnec...|Computers&Accesso...|            â‚¹350|   4.2|
|Portronics Konnec...|Computers&Accesso...|            â‚¹159|   4.1|
|MI Braided USB Ty...|Computers&Accesso...|            â‚¹349|   4.4|
|MI 80 cm (32 inch...|Electronics|HomeT...|         â‚¹13,999|   4.2|
|Ambrane Unbreakab...|Computers&Accesso...|            â‚¹249|   4.0|
|boAt Type C A325 ...|Computers&Accesso...|            â‚¹199|   4.1|
|LG 80 cm (32 inch...|Electronics|HomeT...|         â‚¹13,490|   4.3|
+--------------------+--------------------+----------------+------+
only showing top 20 rows

In [34]:
# FILTER PRODUK

df.filter(df['rating'] > 4.8).show()

+----------+--------------------+--------------------+----------------+------------+-------------------+------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|product_id|        product_name|            category|discounted_price|actual_price|discount_percentage|rating|rating_count|       about_product|             user_id|           user_name|           review_id|        review_title|      review_content|            img_link|        product_link|
+----------+--------------------+--------------------+----------------+------------+-------------------+------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|B0BP7XLX48|Syncwire LTG to U...|Computers&Accesso...|            â‚¹399|      â‚¹1,999|                80%|   5.0|           5|This sturdy and d...|AF7EOXYL5K36BDP6P...|Amazon Customer,k...|R1L2JNO4Y3BHYF,R2...|Good,Superb quali...|Product is good i...|https://m.media-a...|https://www.amazo...|
|B0BQRJ3C47|REDTECH USB-C to ...|Computers&Accesso...|            â‚¹249|        â‚¹999|                75%|   5.0|        NULL|ðŸ’Ž[The Fastest Ch...|AGJC5O5H5BBXWUV7W...|         Abdul Gafur|       RQXD5SAMMPC6L|     Awesome Product|Quick delivery.Aw...|https://m.media-a...|https://www.amazo...|
|B09ZHCJDP1|Amazon Basics Wir...|Computers&Accesso...|            â‚¹499|      â‚¹1,000|                50%|   5.0|          23|Reliable wireless...|AFLLEPVLIAH2DFSHA...|Rambeer kumar,Ram...|R76XPXMKXLWKH,R23...|Very responsive a...|I really like thi...|https://m.media-a...|https://www.amazo...|
+----------+--------------------+--------------------+----------------+------------+-------------------+------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [47]:
# MENGHITUNG JUMLAH DATA

df.count()

1465

In [48]:
# MEMBERSIHKAN SIMBOL MATA UANG DAN PERSEN

from pyspark.sql.functions import regexp_replace, col

df = df.withColumn("discounted_price",
                   regexp_replace("discounted_price", "[^0-9.]", "").cast("float"))

df = df.withColumn("rating",
                   regexp_replace("rating", "[^0-9.]", "").cast("float"))

In [49]:
# RINGKASAN DATA PER KATEGORI

from pyspark.sql import functions as FC
df.groupBy("category").agg(
    FC.avg("discounted_price").alias("avg_discounted_price"),
    FC.count("*").alias("total_products"),
    FC.max("rating").alias("max_rating"),
    FC.min("rating").alias("min_rating")
).show(10)

+--------------------+--------------------+--------------+----------+----------+
|            category|avg_discounted_price|total_products|max_rating|min_rating|
+--------------------+--------------------+--------------+----------+----------+
|           reminders|                NULL|             1|      90.0|      90.0|
|Computers&Accesso...|               199.0|             1|       4.1|       4.1|
|OfficeProducts|Of...|              141.25|             4|       4.5|       4.2|
|OfficeProducts|Of...|  227.14285714285714|             7|       4.5|       4.1|
|Electronics|Camer...|               299.0|             1|       3.8|       3.8|
|Computers&Accesso...|               549.0|             1|       4.3|       4.3|
|      TWS Connection|                NULL|             3|    3999.0|    3999.0|
|     123 Sports Mode|                 8.0|             1|      NULL|      NULL|
|Computers&Accesso...|               558.0|             5|       4.5|       4.0|
|Computers&Accesso...|               749.0|             2|       4.1|       4.0|
+--------------------+--------------------+--------------+----------+----------+
only showing top 10 rows