In [127]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["test_db"]
collection = db["mahasiswa"]
collection.insert_one({"Nama" : "Zara", "Jurusan" : "Teknologi Informasi"})

for doc in collection.find():
    print(doc)

{'_id': ObjectId('6902c8114577263bb51aa1f2'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('6902c8124577263bb51aa1f4'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('690b3b209a41f1f5f10c36cf'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('690b3d649a41f1f5f10c36fa'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('690b3d919a41f1f5f10c3725'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('690b3dbc9a41f1f5f10c3750'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('690b3fad9a41f1f5f10c376f'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}
{'_id': ObjectId('690b3fe39a41f1f5f10c378e'), 'Nama': 'Zara', 'Jurusan': 'Teknologi Informasi'}

In [128]:
# TUGAS 1

from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
collection = db["employees"]

# Contoh untuk memastikan koneksi
print("Connected to MongoDB")

Connected to MongoDB

In [129]:
# TUGAS 2

from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
collection = db["employees"]

# Hapus data lama biar gak dobel tiap run
collection.delete_many({})

# INSERT DATA 
employee1 = {'Nama': 'Najeya', 'Departemen': 'IT', 'Usia': 27, 'Gaji': 5500}
employee2 = {'Nama': 'Sean', 'Departemen': 'HR', 'Usia': 30, 'Gaji': 5000}
employee3 = {'Nama': 'Joana', 'Departemen': 'IT', 'Usia': 28, 'Gaji': 4500}

# INSERT SATU PER SATU
collection.insert_many([employee1, employee2, employee3])
print("Insert Data Berhasil!\n")

# READ DATA
print("üìã DATA KARYAWAN :")
for emp in collection.find():
    print(f"- {emp['Nama']} | Dept: {emp['Departemen']} | Usia: {emp['Usia']} | Gaji: {emp['Gaji']}")
print("-" * 45)

# UPDATE DATA
collection.update_one({'Nama': 'Sean'}, {'$inc': {'Gaji': 1000}})
print("\n--> Gaji Sean naik 1000!")

collection.update_many({'Departemen': 'IT'}, {'$inc': {'Gaji': 100}})
print("--> Semua gaji di Departemen IT naik 100!\n")

# READ DATA SETELAH UPDATE
print("üìã DATA SETELAH UPDATE :")
for emp in collection.find():
    print(f"- {emp['Nama']} | Dept: {emp['Departemen']} | Usia: {emp['Usia']} | Gaji: {emp['Gaji']}")
print("-" * 45)

# DELETE DATA
collection.delete_one({'Nama': 'Joana'})
print("\n--> Joana dihapus dari daftar karyawan.\n")

# READ DATA SETELAH DELETE
print("üìã DATA SETELAH DELETE :")
for emp in collection.find():
    print(f"- {emp['Nama']} | Dept: {emp['Departemen']} | Usia: {emp['Usia']} | Gaji: {emp['Gaji']}")
print("-" * 45)

Insert Data Berhasil!

üìã DATA KARYAWAN :
- Najeya | Dept: IT | Usia: 27 | Gaji: 5500
- Sean | Dept: HR | Usia: 30 | Gaji: 5000
- Joana | Dept: IT | Usia: 28 | Gaji: 4500
---------------------------------------------

--> Gaji Sean naik 1000!
--> Semua gaji di Departemen IT naik 100!

üìã DATA SETELAH UPDATE :
- Najeya | Dept: IT | Usia: 27 | Gaji: 5600
- Sean | Dept: HR | Usia: 30 | Gaji: 6000
- Joana | Dept: IT | Usia: 28 | Gaji: 4600
---------------------------------------------

--> Joana dihapus dari daftar karyawan.

üìã DATA SETELAH DELETE :
- Najeya | Dept: IT | Usia: 27 | Gaji: 5600
- Sean | Dept: HR | Usia: 30 | Gaji: 6000
---------------------------------------------

In [130]:
# INSERT DATA TAMBAHAN

new_employee_IT = {
    'Nama': 'Hanata',
    'Departemen': 'IT',
    'Usia': 26,
    'Gaji': 4800
}

new_employee_HR = {
    'Nama': 'Ken',
    'Departemen': 'HR',
    'Usia': 32,
    'Gaji': 5200
}

collection.insert_many([new_employee_IT, new_employee_HR])
print("Karyawan baru untuk tiap departemen berhasil ditambahkan!\n")

# Tampilkan data setelah insert
print("üìã DATA SETELAH TAMBAH KARYAWAN :")
for emp in collection.find():
    print(f"- {emp['Nama']} | Dept: {emp['Departemen']} | Usia: {emp['Usia']} | Gaji: {emp['Gaji']}")
print("-" * 45)

Karyawan baru untuk tiap departemen berhasil ditambahkan!

üìã DATA SETELAH TAMBAH KARYAWAN :
- Najeya | Dept: IT | Usia: 27 | Gaji: 5600
- Sean | Dept: HR | Usia: 30 | Gaji: 6000
- Hanata | Dept: IT | Usia: 26 | Gaji: 4800
- Ken | Dept: HR | Usia: 32 | Gaji: 5200
---------------------------------------------

In [131]:
# TUGAS 3
# Hitung rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$Departemen','Rata_rata_Gaji': {'$avg': '$Gaji'}}}
]

print("\n--- RATA-RATA GAJI PER DEPARTEMEN ---")
for hasil in collection.aggregate(pipeline):
    print(f"- Departemen {hasil['_id']}: {hasil['Rata_rata_Gaji']}")

--- RATA-RATA GAJI PER DEPARTEMEN ---
- Departemen HR: 5600.0
- Departemen IT: 5200.0

In [132]:
# TUGAS 4
# 4.1 Buat Koleksi Produk berisi Data Produk

products = db["products"]

# Hapus data lama
products.delete_many({})

# Tambah data produk (minimal 10)
data_produk = [
    {'Nama': 'Laptop', 'Kategori': 'Elektronik', 'Harga': 9000000},
    {'Nama': 'Kulkas', 'Kategori': 'Elektronik', 'Harga': 4500000},
    {'Nama': 'Smartphone', 'Kategori': 'Elektronik', 'Harga': 6000000},
    {'Nama': 'Printer', 'Kategori': 'Elektronik', 'Harga': 1500000},
    {'Nama': 'Meja Rias', 'Kategori': 'Furniture', 'Harga': 1200000},
    {'Nama': 'Kursi Gaming', 'Kategori': 'Furniture', 'Harga': 2000000},
    {'Nama': 'Lemari Kaca', 'Kategori': 'Furniture', 'Harga': 2500000},
    {'Nama': 'Buku Tulis', 'Kategori': 'ATK', 'Harga': 3000},
    {'Nama': 'Pulpen', 'Kategori': 'ATK', 'Harga': 2500},
    {'Nama': 'Tempat Pensil', 'Kategori': 'ATK', 'Harga': 10000}
]

products.insert_many(data_produk)
print("\nüìã DATA PRODUK")
for produk in data_produk:
    print(f"- {produk['Nama']} | Kategori: {produk['Kategori']} | Harga: {produk['Harga']}")
print("-" * 55)

# 4.2 Query untuk Menemukan Produk dengan Harga > rata-rata
pipeline_Rata_rata= [
    {'$group': {'_id': None, 'Rata_Harga': {'$avg': '$Harga'}}}
]
rata2 = list(products.aggregate(pipeline_Rata_rata))[0]['Rata_Harga']

print(f"\n>> Rata-rata harga produk: {rata2}")
print("\nüìã Produk dengan harga di atas rata-rata")

for p in products.find({'Harga': {'$gt': rata2}}):
    print(f"- {p['Nama']} ({p['Kategori']}) : {p['Harga']}")
print("-" * 45)

# 4.3 Buat Aggregation Pipeline untuk Menghitung Total Produk per-Kategori
pipeline_Total = [
    {'$group': {'_id': '$Kategori', 'Total_Produk': {'$sum': 1}}}
]

print("\nüìã Total Produk per Kategori")
for hasil in products.aggregate(pipeline_Total):
    print(f"- {hasil['_id']}: {hasil['Total_Produk']} produk")
print("-" * 45)

üìã DATA PRODUK
- Laptop | Kategori: Elektronik | Harga: 9000000
- Kulkas | Kategori: Elektronik | Harga: 4500000
- Smartphone | Kategori: Elektronik | Harga: 6000000
- Printer | Kategori: Elektronik | Harga: 1500000
- Meja Rias | Kategori: Furniture | Harga: 1200000
- Kursi Gaming | Kategori: Furniture | Harga: 2000000
- Lemari Kaca | Kategori: Furniture | Harga: 2500000
- Buku Tulis | Kategori: ATK | Harga: 3000
- Pulpen | Kategori: ATK | Harga: 2500
- Tempat Pensil | Kategori: ATK | Harga: 10000
-------------------------------------------------------

>> Rata-rata harga produk: 2671550.0

üìã Produk dengan harga di atas rata-rata
- Laptop (Elektronik) : 9000000
- Kulkas (Elektronik) : 4500000
- Smartphone (Elektronik) : 6000000
---------------------------------------------

üìã Total Produk per Kategori
- Elektronik: 4 produk
- Furniture: 3 produk
- ATK: 3 produk
---------------------------------------------

In [133]:
# TAMBAH DATA BARU UNTUK TUGAS 5

# Tambah data baru (lebih dari 5 per departemen)
data_tambahan = [
    # Departemen IT
    {'Nama': 'Lea', 'Departemen': 'IT', 'Usia': 24, 'Gaji': 5300},
    {'Nama': 'Filio', 'Departemen': 'IT', 'Usia': 26, 'Gaji': 5800},
    {'Nama': 'Aruna', 'Departemen': 'IT', 'Usia': 23, 'Gaji': 5100},
    {'Nama': 'Mecca', 'Departemen': 'IT', 'Usia': 26, 'Gaji': 5900},
    {'Nama': 'Vergy', 'Departemen': 'IT', 'Usia': 28, 'Gaji': 6200},
    {'Nama': 'Velya', 'Departemen': 'IT', 'Usia': 32, 'Gaji': 6100},

    # Departemen HR
    {'Nama': 'Juna', 'Departemen': 'HR', 'Usia': 24, 'Gaji': 5400},
    {'Nama': 'Sinta', 'Departemen': 'HR', 'Usia': 27, 'Gaji': 5600},
    {'Nama': 'Wilio', 'Departemen': 'HR', 'Usia': 26, 'Gaji': 5200},
    {'Nama': 'Ghea', 'Departemen': 'HR', 'Usia': 23, 'Gaji': 5800},
    {'Nama': 'Rega', 'Departemen': 'HR', 'Usia': 29, 'Gaji': 6000},
    {'Nama': 'Zena', 'Departemen': 'HR', 'Usia': 31, 'Gaji': 6200}
]

collection.insert_many(data_tambahan)

# Tampilkan data lengkap
print("üìã Data Karyawan Setelah Penambahan ke-2 :\n")
for emp in collection.find():
    print(f"- {emp['Nama']} | Dept: {emp['Departemen']} | Usia: {emp['Usia']} | Gaji: {emp['Gaji']}")

üìã Data Karyawan Setelah Penambahan ke-2 :

- Najeya | Dept: IT | Usia: 27 | Gaji: 5600
- Sean | Dept: HR | Usia: 30 | Gaji: 6000
- Hanata | Dept: IT | Usia: 26 | Gaji: 4800
- Ken | Dept: HR | Usia: 32 | Gaji: 5200
- Lea | Dept: IT | Usia: 24 | Gaji: 5300
- Filio | Dept: IT | Usia: 26 | Gaji: 5800
- Aruna | Dept: IT | Usia: 23 | Gaji: 5100
- Mecca | Dept: IT | Usia: 26 | Gaji: 5900
- Vergy | Dept: IT | Usia: 28 | Gaji: 6200
- Velya | Dept: IT | Usia: 32 | Gaji: 6100
- Juna | Dept: HR | Usia: 24 | Gaji: 5400
- Sinta | Dept: HR | Usia: 27 | Gaji: 5600
- Wilio | Dept: HR | Usia: 26 | Gaji: 5200
- Ghea | Dept: HR | Usia: 23 | Gaji: 5800
- Rega | Dept: HR | Usia: 29 | Gaji: 6000
- Zena | Dept: HR | Usia: 31 | Gaji: 6200

In [134]:
# TUGAS 5
# 5.1 Cari 5 Laryawan dengan Gaji Tertinggi setiap Departemen

pipeline_top5 = [
    {'$sort': {'Departemen': 1, 'Gaji': -1}}, {'$group': {'_id': '$Departemen','Top5': {'$push': {'Nama': '$Nama', 'Gaji': '$Gaji'}},}},
    {'$project': {'Top5': {'$slice': ['$Top5', 5]}}}
]

print("\nüìã 5 Karyawan dengan Gaji Tertinggi per Departemen:")
for dept in collection.aggregate(pipeline_top5):
    print(f"\nDepartemen: {dept['_id']}")
    for k in dept['Top5']:
        print(f"- {k['Nama']} : {k['Gaji']}")

üìã 5 Karyawan dengan Gaji Tertinggi per Departemen:

Departemen: HR
- Zena : 6200
- Sean : 6000
- Rega : 6000
- Ghea : 5800
- Sinta : 5600

Departemen: IT
- Vergy : 6200
- Velya : 6100
- Mecca : 5900
- Filio : 5800
- Najeya : 5600

In [135]:
# 5.2 Hapus Karyawan Berusia < 25 Tahun

hapus = collection.delete_many({'Usia': {'$lt': 25}})
print(f"\nüóëÔ∏è {hapus.deleted_count} karyawan berusia di bawah 25 tahun berhasil dihapus!\n")

print("üìã Data Karyawan Terbaru")
for emp in collection.find():
    print(f"- {emp['Nama']} | Dept: {emp['Departemen']} | Usia: {emp['Usia']} | Gaji: {emp['Gaji']}")

üóëÔ∏è 4 karyawan berusia di bawah 25 tahun berhasil dihapus!

üìã Data Karyawan Terbaru
- Najeya | Dept: IT | Usia: 27 | Gaji: 5600
- Sean | Dept: HR | Usia: 30 | Gaji: 6000
- Hanata | Dept: IT | Usia: 26 | Gaji: 4800
- Ken | Dept: HR | Usia: 32 | Gaji: 5200
- Filio | Dept: IT | Usia: 26 | Gaji: 5800
- Mecca | Dept: IT | Usia: 26 | Gaji: 5900
- Vergy | Dept: IT | Usia: 28 | Gaji: 6200
- Velya | Dept: IT | Usia: 32 | Gaji: 6100
- Sinta | Dept: HR | Usia: 27 | Gaji: 5600
- Wilio | Dept: HR | Usia: 26 | Gaji: 5200
- Rega | Dept: HR | Usia: 29 | Gaji: 6000
- Zena | Dept: HR | Usia: 31 | Gaji: 6200

In [137]:
# 5.3 Laporan Ringkas (Total Gaji Karyawan per Departemen & Rata-Rata Umur Karyawan)

pipeline_laporan = [
    {'$group': {'_id': '$Departemen','Total_Gaji': {'$sum': '$Gaji'},'Rata_Umur': {'$avg': '$Usia'}}}
]

print("\nüìã Laporan Total Gaji & Rata-rata Umur per Departemen:")
for hasil in collection.aggregate(pipeline_laporan):
    print(f"- {hasil['_id']} | Total Gaji: {hasil['Total_Gaji']} | Rata-rata Umur: {hasil['Rata_Umur']}")

üìã Laporan Total Gaji & Rata-rata Umur per Departemen:
- IT | Total Gaji: 34400 | Rata-rata Umur: 27.5
- HR | Total Gaji: 34200 | Rata-rata Umur: 29.166666666666668